@charset "UTF-8";

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #151515 url("../images/bg.jpeg") no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.header {
  padding: 170px 30px 80px;
}

.site-title {
  margin: 0 0 40px;
  font-size: 7.6rem;
}

.contact-form {
  width: 50%;
  margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}
.contact-form textarea {
  height: 150px;
}
.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}
.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.contact-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}