@charset "UTF-8";

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #151515 url("../images/bg.jpeg") no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.menu-bar {
  width: 100%;
  height: 5vh;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-button {
  float: right;
  margin-right: 30px;
  line-height: 5vh;
  text-decoration: none;
  color: #fff;
}

.menu-button:hover {
  color: #333;
}

.header {
  padding: 170px 30px 80px;
}

.site-title-sub {
  margin: 0 0 30px;
  letter-spacing: 1px;
  font-size: 2.2rem;
}

.site-title-sub::before,
.site-title-sub::after {
  content: '';
  display: inline-block;
  width: 140px;
  height: 2px;
  margin: 0 30px;
  background-color: #fff;
  vertical-align: middle;
}

.site-title {
  margin: 50px 0 40px;
  font-size: 7.6rem;
}

.site-description {
  margin-bottom: 50px;
  color: #fff;
  font-size: 1.6rem;
}

.button {
  display: inline-block;
  width: 200px;
  padding: 20px;
  border-radius: 4px;
  background-color: #afa58d;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.2rem;
}
.button:hover{
  opacity: 0.9;
}
.button-showy {
  background-color: #f1b400;
}

.buttons .button {
  margin: 10px;
}

/* ABOUT */
.about {
  padding: 80px 30px;
  background-color: #fff;
  color: #333;
}

.heading {
  position: relative;
  display: inline-block;
  margin: 30px 0 15px;
  padding-bottom: 15px;
  letter-spacing: 2px;
  font-size: 4rem;
}
.heading::before,
.heading::after {
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #fff;
}
.heading::before {
  bottom: 5px;
}
.heading-black::before,
.heading-black::after{
  content: '';
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  border-bottom: 1px solid #333;
}
.heading-black::before {
  bottom: 5px;
}

.about-text {
  margin: 30px 0;
  line-height: 2.5;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* about */
.container__about {
  width: 60%;
  margin: 0 auto;
  height: 50vh;
  padding: 5vh 0 15vh;
}

.container__about__person {
  height: 30vh;
  box-sizing: border-box;
  padding: 0 10% 5vh;
  text-align: left;
}

.container__about__person__left {
  height: 25vh;
  width: 25%;
  float: left;
}
.container__about__person__left__img {
  height: 20vh;
  width: 100%;
}

.container__about__person__left__img p{
  display: block;
  height: 20vh;
  width: 100%;
}
.sns-box {
  margin-top: 10px;
}
.sns-icon {
   font-size: 2rem;
   margin-right: 10%;
   text-decoration: none;
   color: black;
}


.container__about__person__right {
  height: 25vh;
  width: 75%;
  float: left;
}
.container__about__person__right__name {
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
}
.container__about__person__right__name__jp {
  height: 6vh;
  width: 35%;
  float: left;
  font-size: 2rem;
  line-height: 6vh;
}
.container__about__person__right__name__eng {
  height: 6vh;
  width: 65%;
  float: left;
  line-height: 6vh;
}
.container__about__person__right__info {
  height: 5vh;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10%;
  display: flex;
  align-items: center;
}
.container__about__person__right__info__title {
  height: 5vh;
  width: 20%;
  line-height: 5vh;
  font-size: 1.2rem;
  font-weight: bold;
  float: left;
}
.container__about__person__right__info__text {
  height: 5vh;
  width: 80%;
  font-size: 1.2rem;
  float: left;
  line-height: 5vh;
}
.container__about__person__right__info__text__dev {
  height: 5vh;
  width: 80%;
  font-size: 11px;
  float: left;
  flex: 1;
}

.container__about__biography {
  height: 20vh;
  box-sizing: border-box;
  padding: 0 10% 2vh;
  text-align: left;
  white-space: pre-wrap;
  word-wrap: break-word;
  vertical-align: top;
}
.container__about__biography p {
  margin-top: -5%;
}

ul > li {
  margin-bottom: 5px;
}

/* WORKS */
.works {
  background-color: #383634;
  padding: 80px 0;
}

.works-wrapper {
  display: table;
  margin-top: 60px;
  table-layout: fixed;
  width: 100%;
}
.works-one {
  width: 25%;
  margin: 60px auto 0;
}
.works-two {
  width: 50%;
  margin: 60px auto 0;
}
.works-three {
  width: 75%;
  margin: 60px auto 0;
}
.works-four {
  width: 100%;
}
.works-upper-four {
  display: block;
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}

.work-box {
  position: relative;
  display: inline-block;
  display: table-cell;
  width: 25%;
  height: 50vh;
}
.work-box::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 25vh;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  background-image: url('../images/tree.jpg');
}
.work-box-upper-four {
  position: relative;
  display: inline-block;
  width: 25%;
  height: 50vh;
}
.work-box-upper-four::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 25vh;
  background: no-repeat;
  background-size: 100% 100%;
  opacity: 0.2;
  background-image: url('../images/tree.jpg');
}
.work-image {
  display: block;
  position: absolute;
  height: 25vh;
  width: 100%;
  margin: 0 0 60%;
  padding-top:0%;
}

.work-description{
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 25vh;
  z-index: 1;
  overflow-y: auto;
}
.work-description-inner {
  display: table;
  width: 100%;
  padding: 20px;
  height: 25vh;
}
.work-text {
  display: table-cell;
  vertical-align: middle;
  font-size: 1.2rem;
  line-height: 2;
}
.work-text .button{
  width: 60%;
  margin-top: 20px;
  padding: 3px;
  display: block;
  margin: 20px auto 0;
}
.button-ghost {
  border: 1px solid #fff;
  background-color: rgba(255,255,255,0.15)
}
/* 上下反転 */
.work-box:nth-child(odd) .work-image,
.work-box-upper-four:nth-child(odd) .work-image {
  margin: 50% 0 0;
}
.work-box:nth-child(odd) .work-description,
.work-box:nth-child(odd)::after,
.work-box-upper-four:nth-child(odd) .work-description,
.work-box-upper-four:nth-child(odd)::after {
  top: 0;
}

/* SKILLS */
.skills {
  padding: 80px 0;
  background-color: #fff;
  color: #333;
}

.skills-wrapper {
  display: table;
  width: 80%;
  margin: 50px auto 0;
  table-layout: fixed;
}
.skill-box {
  display: table-cell;
}
.skill-icon {
  width: 150px;
  height: 150px;
  margin-bottom: 30px;
  border: 4px solid;
  border-radius: 50%;
  color: #f1b400;
  font-size: 8rem;
  line-height: 142px;
}
.skill-title {
  margin: 0 20px 20px;
  font-size: 2rem;
}
.skill-text {
  margin: 0 20px;
  line-height: 2;
}

/* CONTACT */
.contact {
  padding: 80px 0 80px;
}
.contact-form {
  width: 50%;
  margin: 50px auto 0;
}
.contact-form input[type=text],
.contact-form input[type=email],
.contact-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}
.contact-form textarea {
  height: 150px;
}
.contact-form input[type=text]:focus,
.contact-form input[type=email]:focus,
.contact-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}
.contact-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.contact-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

/* for Chrome and Safari */
.contact-form ::-webkit-input-placeholder {
  color: #fff;
  opacity: 1;
}
/* for Internet Explorer */
.contact-form ::-ms-input-placeholder {
  color: #fff;
  opacity: 1;
}
/* for Firefox */
.contact-form ::-moz-input-placeholder {
  color: #fff;
  opacity: 1;
}

/* FOOTER */
.footer {
  padding: 12px 0;
  font-size: 1.3rem;
}

/* スマホ・タブレット対応 */
@media (max-width: 1024px) {
  body {
    background-image: none;
  }
}


@media (max-width: 768px) {

  /* HEADER */
  .site-title-sub::before,
  .site-title-sub::after {
    display: block;
    width: 80%;
    margin: 10px auto;
  }
  .site-title-sub {
    font-size: 1.7rem;
  }
  .site-title {
    margin-top: 35px;
    font-size: 5rem;
  }
  .header {
    padding-top: 60px;
  }
  .button:hover {
    opacity: 1;
  }
  /* ABOUTME */
  .heading {
    font-size: 2.5rem;
  }
  body {
    font-size: 1.3rem;
  }
  .about-text {
    line-height: 1.8;
  }
  /* WORKS */
  .works-wrapper,
  .work-box {
    display: block;
  }
  .work-image {
    display: none;
  }
  .work-description {
    position: relative;
  }
  .work-box::after {
    top: 0;
    height: 100%;
    background-size: cover;
    transform: none;
  }
  /* MY SKILLS  */
  .skills-wrapper,
  .skill-box {
    display: block;
  }
  .skill-icon {
    width: 100px;
    height: 100px;
    font-size: 5rem;
    line-height: 92px;
  }
  .skill-box {
    margin: 40px auto;
  }
  .skill-text {
    margin: 0;
  }
  /* CONTACT */
  .contact-form {
    width: 80%;
  }
  .contact {
    padding-bottom: 80px;
  }

}