* {
  margin: 0px;
  padding: 0px;
}

h1, h2, h3, h4, h5, h6, a, p{
  font-family: "Raleway";
  font-weight: 300;
  color: #666;
}

.header {
  width: 100%;
  height: 5vh;
  z-index: 9999;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(204, 204, 204, 0.5);
}

.header-back {
  float: right;
  margin-right: 30px;
  line-height: 5vh;
  text-decoration: none;
  color: gray;
}

.container {
  width: 100%;
  height: 100vh;
  background-color: rgba(242,242,242,0.5);
}

.container-main__title {
  width: 100%;
  height: 50vh;
  text-align: center;
  line-height: 80vh;
}

.container-main__title h1 {
  font-size: 40px;
  text-align: center;
}

.container-main__message {
  width: 50%;
  padding: 0 25%;
  height: 50vh;
  text-align: center;
  font-size: 20px;
  line-height: 10vh;
}

.container__title {
  width: 60%;
  margin: 0 auto;
  height: 10vh;
  padding: 10vh 0 10vh;;
}

.container__title h1 {
  font-size: 40px;
  text-align: center;
  line-height: 10vh;
  border-bottom: 1px solid black;
}

.container-skills-box {
  width: 60%;
  margin: 0 auto;
  height: 30vh;
}

.container-skills__title {
  width: 30%;
  height: 30vh;
  float: left;
  text-align: center;
  line-height: 30vh;
}

.container-skills__skills {
  width: 70%;
  height: 30vh;
  float: left;
}

.container__contents {
  width: 60%;
  margin: 0 auto;
  height: 50vh;
  padding: 5vh 0 15vh;
  font-size:0;
}

.container__contents__item {
  width : calc(100% / 3) ;
  height: 100%;
  display: inline-block;
  box-sizing: border-box;
  padding: 3%;
}

.container__contents__item__image {
  width : 100%;
  height: 80%;
  background-color: gray;
}

.container__contents__item__title {
  width : 100%;
  height: 20%;
  padding-top: 5px;
}

.container__contents__item__title h3 {
  width : 100%;
  height: 20%;
  font-size: 20px;
  font-weight: initial;
}

/* about */
.container__about {
  width: 60%;
  margin: 0 auto;
  height: 50vh;
  padding: 5vh 0 15vh;
}

.container__about__person {
  height: 30vh;
  box-sizing: border-box;
  padding: 0 10% 5vh;
}

.container__about__person__left {
  height: 25vh;
  width: 25%;
  float: left;
}
.container__about__person__left__img {
  height: 20vh;
  width: 100%;
}

.container__about__person__left__img p{
  display: block;
  height: 20vh;
  width: 100%;
}
.container__about__person__left__sns {
  height: 5vh;
  width: 100%;
}

.container__about__person__left__sns__link {
  height: 20px;
  width: 20px;
  display: inline-block;
  margin: 5% 5% 0;
  background-color: black;
}


.container__about__person__right {
  height: 25vh;
  width: 75%;
  float: left;
}
.container__about__person__right__name {
  height: 10vh;
  width: 100%;
  box-sizing: border-box;
  padding: 0 10%;
}
.container__about__person__right__name__jp {
  height: 6vh;
  width: 35%;
  float: left;
  font-size: 20px;
  line-height: 6vh;
}
.container__about__person__right__name__eng {
  height: 6vh;
  width: 65%;
  float: left;
  line-height: 6vh;
}
.container__about__person__right__info {
  height: 5vh;
  width: 100%;
  box-sizing: border-box;
  padding-left: 10%;
  display: flex;
  align-items: center;
}
.container__about__person__right__info__title {
  height: 5vh;
  width: 20%;
  line-height: 5vh;
  font-size: 12px;
  font-weight: bold;
  float: left;
}
.container__about__person__right__info__text {
  height: 5vh;
  width: 80%;
  font-size: 11px;
  float: left;
  line-height: 5vh;
}
.container__about__person__right__info__text__dev {
  height: 5vh;
  width: 80%;
  font-size: 11px;
  float: left;
  flex: 1;
}

.container__about__biography {
  height: 20vh;
  box-sizing: border-box;
  padding: 2vh 10% 2vh;
}

ul > li {
  margin-bottom: 5px;
}

/* Contact Form */

.container__contact-form {
  height: 70vh;
  width: 60%;
  margin: 0 auto;
}

/* .container__title {
  width: 60%;
  margin: 0 auto;
  height: 10vh;
  padding: 10vh 0 10vh;;
} */

.contact-form {
  padding-bottom: 40px;
}

.contact-form label {
   color: #999;
}

.contact-form input, .contact-form textarea {
  padding: 10px 12px;
  margin: 0 15% 20px;
  width: 70%;
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  height: auto;
}

.contact-form .form-send {
  text-align: center;
}

.contact-form .form-send button  {
  background: #74cfae;
  border: 0;
  padding: 10px 30px;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}

.contact-form .form-send button:hover {
  background: #78e0bb;
}

.contact-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

.contact-form .loading {
  display: none;
  color: #555;
  background: #fff;
  text-align: center;
  padding: 15px;
  margin: 15px 0;
}

.contact-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

@-webkit-keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.contact-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}

.contact-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
  margin: 15px 0;
}