@charset "UTF-8";

html {
  font-size: 62.5%;
}

*, *::before, *::after {
  box-sizing: border-box;
}

body {
  background: #151515 url("../images/bg.jpeg") no-repeat fixed left bottom;
  background-size: cover;
  color: #fff;
  text-align: center;
  font-size: 1.4rem;
  font-family: Raleway, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
}

.menu-bar {
  width: 100%;
  height: 5vh;
  z-index: 1;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: rgba(255, 255, 255, 0.5);
}

.menu-button {
  float: right;
  margin-right: 30px;
  line-height: 5vh;
  text-decoration: none;
  color: #fff;
}

.menu-button:hover {
  color: #333;
}

.side-header {
  height: 100vh;
  width: 25%;
  display: inline-block;
}

.edit-title {
  height: 30vh;
  width: 100%;
  float: left;
  line-height: 30vh;
  margin: 0 auto;
  font-size: 5rem;
}

.button-box {
  height: 70vh;
  width: 100%;
  float: left;
}

.button {
  display: inline-block;
  width: 200px;
  margin: 20px;
  padding: 15px;
  border-radius: 4px;
  background-color: #f1b400;
  color: #fff;
  text-decoration: none;
  letter-spacing: 1px;
  font-size: 1.4rem;
}
.button:hover{
  opacity: 0.9;
}

.container {
  display: inline-block;
  padding: 5vh 0;
  height: 100vh;
  width: 75%;
  float: right;
  overflow: auto;
}

.box-one {
  display: block;
  height: 30vh;
}
.box-line {
  height: 30vh;
  display:flex;
  flex-wrap:wrap;
}

.add-box {
  padding-top: 20px;
  width: calc(100% / 3);
  height: 100%;
}
.image {
  position: relative;
  margin: 0 auto;
  width: 70%;
  height: 70%;
  border: solid 2px;
  border-radius: 10px;
}
.add-image {
  background-color: rgba(255, 255, 255, 0.5);
}
.add-image:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.add-link {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
}
.icon {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
}

.box {
  width: calc(100% / 3);
  height: 30vh;
  box-sizing: border-box;
}
.del {
  text-decoration: none;
}

/* ADD EDIT FORM*/
.add-contents {
  padding: 40px 0 40px;
}
.add-form {
  width: 50%;
  margin: 50px auto 0;
}
.add-form input[type=text],
.add-form input[type=url],
.add-form input[type=file],
.add-form textarea {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 15px;
  outline: none;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 0;
  background-color: rgba(255, 255, 255, 0.05);
  color: #fff;
}
.add-form textarea {
  height: 100px;
}
.add-form input[type=text]:focus,
.add-form input[type=url]:focus,
.add-form input[type=file]:focus,
.add-form textarea:focus {
  box-shadow: 0 0 8px rgba(255, 255, 255, 0.5) inset;
}
.add-form input[type=submit] {
  display: block;
  width: 200px;
  margin: 40px auto 0;
  padding: 15px;
  border: 1px solid rgba(255, 255, 255, 0.4);
  border-radius: 5px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
}
.add-form input[type=submit]:hover {
  background-color: rgba(255, 255, 255, 0.05);
}
.title {
  text-align: left;
}
.required {
  color: white;
  background-color:  #f1b400;
}
.any {
  color: white;
  background-color:  gray;
}
